<?php
// Database configuration
$servername = "localhost";
$username = "Database User Name";
$password = "Database Password";
$dbname = "Database Name";

// MQTT configuration
$mqtt_server = "Your MQTT Server FQDN or IP Address";
$mqtt_port = 1883;
$mqtt_client_id = "powercycle.dashboard";
$mqtt_username = "MQTT Server Username";
$mqtt_password = "MQTT Server User Password";

// Base URL of your project
$base_url = "https://powercycle.newburyhill.com";

// Logo filename
$logo_filename = "NHPLogo.jpg";

// Timezone
$timezone = 'America/Port_of_Spain';

// Service configuration
$service_name = "powercycle_mqtt_listener";
$service_definition_template = "service_template.txt";
$service_definition_file = "powercycle_mqtt_listener.service";

$allowance = 2;

// Default values for devices table
$DEFAULT_BOOT_UP_TIMER = 240;
$DEFAULT_ONGOING_TEST_TIMER = 30;
$DEFAULT_FAILURE_TEST_TIMER = 60;
$DEFAULT_FAILURE_THRESHOLD = 4;
$DEFAULT_POWER_OFF_DURATION = 200; // Specified in 10ths of a second
$DEFAULT_POWER_CYCLE_COUNT = 4;

// IEEE OUI vendor lookup (MA-L oui.csv + MA-M mam.csv + MA-S oui36.csv; lazy oui_vendor_cache; block /data/ in web server)
$ieee_oui_enabled = true;
$ieee_oui_data_dir = __DIR__ . '/data/ieee';
$ieee_oui_max_age_seconds = 604800;
$ieee_oui_csv_url = 'http://standards-oui.ieee.org/oui/oui.csv';
$ieee_oui_mam_csv_url = 'http://standards-oui.ieee.org/oui28/mam.csv';
$ieee_oui_mas_csv_url = 'http://standards-oui.ieee.org/oui36/oui36.csv';
$ieee_oui_download_timeout_seconds = 30;
$ieee_oui_csv_filename = 'oui.csv';
$ieee_oui_mam_csv_filename = 'mam.csv';
$ieee_oui_mas_csv_filename = 'oui36.csv';

//Tasmota Rule Templates
$rule1_template="rule1_template.txt";
$rule2_template="rule2_template.txt";
$rule3_template="rule3_template.txt";


?>
